./backend/.husky
./backend/dist
./backend/node_modules
./backend/seeding
./backend/yarn-error.log
./backend/test
./backend/.env.development

./frontend/.husky
./frontend/.storybook
./frontend/.vscode
./frontend/dist
./frontend/node_modules
./frontend/analyse.html

