
**/node_modules
**/dist
**/.env*
**/.husky

./backend/db/seeding
./backend/yarn-error.log
./backend/test
./backend/.env.development
./backend/**/*spec.ts

./frontend/.storybook
./frontend/.vscode
./frontend/analyse.html
./frontend/test
